@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  background-color: #1C1E26;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  margin-bottom: 10px;
  background-color: #1C1E26;
}

.navbar-menu {
  background-color: #1C1E26;
}

.navbar-menu a:hover {
  background-color: #6b67ff;
}

.socials a:hover {
  color: #6b67ff;
}

.about p {
  max-width: 75%;
  margin: auto;
}

.blog-post-card {
  max-width: 75%;
  margin:auto;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease;
}

.blog-post-card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
}

.blog-body {
  margin: auto !important;
  max-width: 65%;
  padding: 45px;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
}

@media (max-width: 767px) {
  .blog-body {
    padding: 15px;
    margin: auto;
  }
}

.markdown-body a {
  color: #00d1b2 !important;
}

.markdown-body a:hover {
  color: #6b67ff !important;
}

.markdown-body ul {
  list-style: circle;
}

.project-links {
  color: #00d1b2;
}

.project-links a:hover {
  color: #6b67ff;
}